body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', sans-serif;
  background-color:rgb(101, 150, 240);
  margin-top:0px;
  padding-top:0px;
}
html{
  margin-top:0px;
  padding-top:0px;
}
.row, .col{
  margin-top:0px;
  padding-top:0px;
}
cardWrap{
  margin-right:300px;
}
.col-md-3{
  float: right;
}
