.jumbotron{
    background-color: rgb(216, 126, 126);
    text-align:center;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    position: relative; top: -22px;
    font-family: Candara;
    font-weight: 900;

}
